<div class="tree-view" *ngIf="model" [ngClass]="cssClasses">
  <div class="tree-view-item">
    <div
      class="tree-view-item-key"
      (click)="onClick(model)"
      (dblclick)="onDoubleClick(model)"
      [style.padding-left]="level * 12 + 'px'"
      [ngClass]="{
      'active': model.active,
      'header': level == 0,
      'selected': model.selected
      }"
    >
      <div class="tree-view-element">
        <span class="icon-type fa" [ngClass]="icon" (click)="onIconClick(model, $event)">
        </span>
        <span
          *ngIf="!renameElement; else rename"
          title="{{model.hover}}"
          (click)="onTextClick(model, $event)"
          (dblclick)="onTextDoubleClick(model, $event)"
        >{{model.name}}</span>
        <ng-template #rename>
          <app-rename-element
            (cancelled)="onRenameCancelled()"
            (succeeded)="onRenameSucceeded()"
            [config]="renameElement"
            [originalName]="model.name"></app-rename-element>
        </ng-template>

      </div>

      <div>
        <span *ngIf="showEmbeddedButton()"
          [title]="embeddedButton.hoverText(model)"
          class="embedded-button" [ngClass]="embeddedButtonClasses"
          (click)="onEmbeddedButtonClick()"></span>
      </div>

    </div>
    <div *ngIf="activeAction" class="confirm-action" [ngClass]="actionCssClasses">
      <span class="confirm-action-message">{{activeAction.message}}</span>
      <br/>
      <a href="#" class="confirm-action-cancel-button" [ngClass]="activeAction.cancelCssClasses" (click)="onActionCancelled()">{{activeAction.cancelButtonText}}</a>
      <a href="#" class="confirm-action-confirm-button" [ngClass]="activeAction.confirmCssClasses" (click)="onActionConfirmed()">{{activeAction.confirmButtonText}}</a>
    </div>
  </div>
  <div *ngIf="createNewElement" [style.padding-left]="level * 12 + 'px'">
    <app-input-box (cancelled)="onNewElementCancelled()" (succeeded)="onNewElementSucceeded()" [config]="createNewElement"></app-input-box>
  </div>
  <div *ngIf="model.expanded">
    <div *ngFor="let child of model.children">
      <app-tree-viewer [model]="child" [level]="level + 1" [config]="config"></app-tree-viewer>
    </div>
  </div>
</div>
