.tree-view {
  font-family: system-ui, Segoe WPC, Segoe UI, HelveticaNeue-Light, Ubuntu, Droid Sans, sans-serif;
  font-size: 13px;
  line-height: 22px;
}

.tree-view .icon-type {
  font-size: 10px;
  margin-right: 3px;
}

.header {
  background-color: #363636;
  color: #CCCCCC;
}

.tree-view-item {
  cursor: pointer;
  font-size: 15px;
  text-decoration: none;
  width: 100%;
}

.tree-view-item-key {
  display: flex;
  justify-content: space-between;
}

.tree-view-element {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tree-view-item-key:not(.selected) {
  color: #CCCCCC;
}

.tree-view-item-key:not(.active):not(.header):not(.selected):hover {
  background-color: #2A2D2E;
}

.active {
  background-color: #3f3f46;
}

.selected:not(.header) {
  background-color: #094771;
  color: #ffffff;
}

.tree-item-in-error {
  color: #ff0000;
}

.tree-item-ok {
  color: #00ff00;
}
